server:
  address: 0.0.0.0
  port: ${PORT:7070}
  forward-headers-strategy: FRAMEWORK
  servlet:
    session:
      cookie:
        same-site: None
        secure: true

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/todoapp}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:secret}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    time-zone: Asia/Tokyo
  security:
    oauth2:
      client:
        registration:
          bff-client:
            provider: auth0
            client-id: ${OAUTH2_CLIENT_ID}
            client-secret: ${OAUTH2_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}" 
            scope:
              - openid
              - profile
              - offline_access
        provider:
          auth0:
            issuer-uri: ${OAUTH2_ISSUER_URI}
            authorization-uri: ${OAUTH2_ISSUER_URI}authorize?audience=${OAUTH2_AUDIENCE}

logging:
  level:
    org.springframework.security.oauth2: INFO
    org.springframework.security.oauth2.client: INFO

app:
  base-url: ${APP_BASE_URL:https://localhost}
  resource-server-url: ${RESOURCE_SERVER_URL:http://resource-server:8080}
  front-server-url: ${FRONT_SERVER_URL:http://localhost:5173}