server:
  address: 0.0.0.0
  port: 7070
  forward-headers-strategy: FRAMEWORK

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/todoapp}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:secret}
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      client:
        registration:
          bff-client:
            provider: auth0
            client-id: ${OAUTH2_CLIENT_ID:NoffZG4GJCOTbDiyU9byXt48vTCH2nen}
            client-secret: ${OAUTH2_CLIENT_SECRET:C_XPDRidYdVpMxyUo46T1UuoPaw_JoemCjc4TY_ZjQvN91WBPWnQYayzHCENm3no}
            authorization-grant-type: authorization_code
            redirect-uri: "${APP_BASE_URL:https://localhost}/bff/login/oauth2/code/bff-client"
            scope:
              - openid
              - profile
              - offline_access
        provider:
          auth0:
            issuer-uri: https://dev-1jp2ogye74qnxdfh.jp.auth0.com/
            authorization-uri: https://dev-1jp2ogye74qnxdfh.jp.auth0.com/authorize?audience=todo-app-api

logging:
  level:
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.oauth2.client: TRACE

app:
  base-url: ${APP_BASE_URL:https://localhost}
  resource-server:
    url: ${RESOURCE_SERVER_URL:http://resource-server:8080}
